* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
}

.navbar__s1__title {
  color: #9840E7;
}

.navbar__s2 {
  padding: 10px;
  border: solid black;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
}

.navbar__s2 input:focus {
  outline: none;
}

.navbar__s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.categories {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-bottom: solid black 1px;
}

.categories p {
  background-color: #9840E7;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.sales-img img {
  width: 100%;
}

.recommended {
  padding: 10px;
}

.recommended__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.course-card {
  width: 300PX;
}

.course-card img {
  height: 50%;
  width: 100%;
}
.topic{
  padding: 10px;
}
.topic__container{
  display: flex;
  gap:10px;
  margin-top: 10px;
  flex-wrap: wrap;

}
.topic__container p{
  padding:10px;
  border: solid gray 1px;
  padding:10px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;
}
.popular__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;

}
.footer__1{
  display: flex;
  gap: 10px;
}
.footer__2{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.footer_1 p{
  margin: 20px;
}